@import "../../global.scss";

.navbar {
  width: 100%;
  background-color: $navyblue;
  height: $navbarHeight;
  position: fixed;
  top: 0;
  z-index: 2;
}

.wrapper {
  display: flex;
  align-items: center;
  height: $navbarHeight;

  .left {
    width: 100%;
    display: inherit;
    border: 1px solid white;
    justify-content: left;
  }

  .right {
    display: inherit;
    border: 1px solid white;
    justify-content: center;
  }
}

.wrapper * {
  color: white;
  font-size: 40px;
  a {
    padding: 0px 30px 0px 30px;
  }
}
